.hero-main {
  height: 70vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.img-completed {
  position: absolute;
  width: 130px;
  height: 130px;
  left: 50%;
  top: 30%;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background-color: #4dd67b05;
}

.img-completed .shadow-1 img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.shadow-1 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90px;
  height: 90px;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: #4dd67b1b;
}

.annoucement-container {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.annoucement-container p {
  color: hsl(240, 2%, 63%);
}

.result-section {
  margin-top:3%;
  position: relative;
  height: 70vh;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-result {
  display: flex;
  gap: 5rem;
}

.container-wpm,
.container-acc,
.container-ch {
  height: 95px;
  width: 150px;
  border-radius: 5%;
}

.container-wpm h3 {
  margin-left: 20px;
}

.container-wpm p,
.container-acc p,
.container-ch p {
  margin-left: 20px;
}


.bt-container {
  position:absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
}


.star-gold {
  position:fixed;
  left:90%;
  top: 60%;
}

.star-red {
  position:fixed;
  left:10%;
  top: 30%;
}