.m-dashboard {
    height: 7vh;
    color: hsl(240, 2%, 63%);
    border-bottom:1px solid hsla(0, 0%, 45%, 0.383);
}

.option {
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.m-dashboard .option button{
    height:25px;
    color:hsl(0, 0%, 100%);
    border-radius:7px;
    border:1px solid hsla(0, 0%, 73%, 0.614);
    background-color:hsl(0, 0%, 7%);
}

.option span button {
    margin: 0 5px;
}

.option > div {
  display: flex;
  align-items: center;
  padding: 0 18px;
  position: relative;
}

/* linia verticală */
.option > div::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
  width: 1px;
  background: rgba(255,255,255,0.15);
}

/* scoate linia de la ultimul */
.option > div:last-child::after {
  display: none;
}
