.header {
    height:10vh;
    background-color:hsl(0, 0%, 7%);
}

.logo {
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.best-score img {
    margin-right:10px;
}


.bst {
    color:antiquewhite;
}