
.text-container{
    position:relative;
    height:70vh;
}

.textWraper .bt-start {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:aliceblue;
  background-color:hsl(210, 100%, 65%);
  width:120px;
  height:33px;
  border-radius:10px;
}

.p-click {
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-click:hover {
  cursor:pointer;
}


.blur-container {
    filter: blur(6px);
    user-select: none;
    pointer-events:none;
}


.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.noblur-container .neutruCh{
  color:hsl(0, 0%, 100%)
}

.noblur-container .correctCh{
  color:green
}

.noblur-container .wrongCh{
  color: red;
}
